# CARTO API Key for basemap tiles
CARTO_API_KEY=

# Local Timezone (e.g., UTC, Australia/Adelaide, America/New_York)
TZ=UTC

# Domain name for Traefik routing and SSL certificates
DOMAIN_NAME=allsky-map.com

# Let's Encrypt notification email
ACME_EMAIL=admin@indi-allsky-map.org
